body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.first_page {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F4F6F2;
}

.top_title {
    position: relative;
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

.top_button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
.top_button:nth-child(2)>a{
    background-color: rgba(255, 127, 138, 0.158);
}
.top_button:hover {
    cursor: pointer;
}

.top_button>a {
    text-decoration: none;
    color: black;
}

.top_button>a:hover {
    color: #F0B8B8;
}

.next_page {
    overflow: hidden;
    position: relative;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F4F6F2;
}

.next_page>p {
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0;
    transition: all .8s linear;
}

.next_page>p:hover {
    transform: rotateX(-90deg);
}

.next_page>p:nth-child(1) {
    font-size: 22px;
    text-shadow: rgb(146, 143, 143) 1px 1px 2px;
}

.bottom_title {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(240, 184, 184);
}

.bottom_img {
    margin: 0 auto;
    width: 200px;
    height: 200px;

}

.bottom_img>img {
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 664px;
}

.data_log {
    overflow: hidden;
    width: 80%;
    height: auto;
    /* border: 1px solid #BEFAF6; */
    margin: 0 auto;
}

.data_log>div {
    padding: 15px;
    width: 85%;
    height: 100px;
    border: 3px inset rgba(117, 161, 167, 0.418);
    margin: 0 auto;
    border-radius: 15px 0 15px 0;
}
.data_log a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.data_log>div:nth-child(1) {
    margin-top: 50px;
}

.button_log_left {
    position: relative;
    float: left;
    border: none !important;
    width: 50px !important;
    height: 40px !important;
    background-color: rgb(148, 148, 148);
    border-radius: 20%;
    left: 43%;

}

.button_log_left:hover {
    background-color: rgba(150, 197, 194, 0.445);
}

.button_log_left>a {
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}

.button_log_right {
    position: relative;
    float: left;
    border: none !important;
    width: 50px !important;
    height: 40px !important;
    background-color: rgb(148, 148, 148);
    border-radius: 20%;
    left: 45%;
}

.button_log_right:hover {
    background-color: rgba(150, 197, 194, 0.445);
}

.button_log_right>a {
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}