body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.top_title {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.top_button {
    float: left;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}

.top_button:hover {
    cursor: pointer;
}

.top_button:nth-child(4)>a {
    background-color: rgba(255, 127, 138, 0.158);
}

.top_button>a {
    text-decoration: none;
    color: black;
}

.top_button>a:hover {
    color: #F0B8B8;
}

.small_block {
    display: none;
}

.first_page {
    position: relative;
    width: 100%;
    height: auto !important;
    background-color: #F4F6F2;
}

.next_page {
    overflow: hidden;
    position: relative;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #F4F6F2;
}

.next_page>p {
    /* padding-top: 20px; */
    margin: 0;
    transition: all .8s linear;
}

.next_page>p:hover {
    transform: rotateX(-90deg);
}

.next_page>p:nth-child(1) {
    font-size: 14px;
    text-shadow: gray 5px 5px 5px;
}

.bottom_title {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(240, 184, 184);
}
.bottom_img {
    margin: 30px auto;
    width: 50px;
    height: 50px;


}

.bottom_img>img {
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 50%;
}

.introduce {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: left;
    /* margin-top: 50px; */
}

.introduce>div {
    /* margin-top: 10px; */

    width: 95%;
    height: 40px;
    border: 2px solid rgb(243, 243, 243);
    border-radius: 8px 8px 8px 8px;
    line-height: 40px;
    padding-left: 10px;
    background-color: #F0B8B8;

}

.introduce>div:hover {
    background-color: rgb(176, 231, 228);
}

.introduce>div span {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: white;
    height: 40px;
    width: 100%;
}

.introduce>div a {
    color: rgba(255, 0, 0, 0.377);
}
.history_this>div{
    width: 80%;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.432);
}
.history_this>div p{
    margin: 0;
    padding: 0;
}